<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Example: {name}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="content">
	    {nav}
		{content}
		<style>
		    .test{color:blue;}
		</style>
		<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
		<script>
		    $(document).ready(function(){
		        console.log("hi!");
		    })
		</script>
	</body>
</html>